fieldset {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.contenedor {
    width: 100%;
    max-width: 1200px;

    margin: auto;

    display: flex;
    gap: 40px;

    align-items: flex-start;
}

.form1 {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.cajas {
    width: 350px;
}

.resultados {
    flex: 1;
}
